@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
margin: 0 auto;
font-family: "Bebas Neue", sans-serif;
text-align: center;
align-items: center;
box-sizing: border-box;
}

.container {
padding: 20px;
}
.search-bar {
  display: flex;
  flex-direction: column;
  font-size:16px
}

.search-bar input {
  padding: 12px 50px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #2981b9;
}