<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}">
  <title>Movies Database</title>
</head>
<body>
<div class="container">
<h1>Movies</h1>
<form class="search-bar" action="/movies" method="get">
  <input type="text" name="query" placeholder="Search...">
  <button type="submit">Search</button>
</form>
<table>
  <thead>
  <tr>
    <th>Movie Title</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="movie : ${listMovies}">
    <td th:text="${movie.primaryTitle}"></td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>